<h1>Hello,</h1>
<p>My name is Shlomi Elbaz</p>
<ul>
  <li>My Mail: shlomi.elbaz@outlook.com</li>
  <li>My Cell: +(972) 54 3101270</li>
</ul>

<ul>
  <li>My GitHub: <a href="https://github.com/shlomielbaz" target="_blank">https://github.com/shlomielbaz</a></li>
  <li>My LinkedIn: <a href="https://www.linkedin.com/in/shlomi-elbaz/" target="_blank">https://www.linkedin.com/in/shlomi-elbaz/</a></li>
  <li>My Medium: <a href="https://medium.com/@shlomisderot" target="_blank">https://medium.com/@shlomisderot</a></li>
</ul>
